$colorRosado: #FDD3EB;
$colorBeige: #F8F1E2;
$colorVerde: #CBDDCE;
$colorAnaranjado: #FFB672;
$colorVerdeOscuro: #5F996B;
$fuent-POPPINS: "Poppins", sans-serif;
$fuente-LEAGUE_SPARTAN: "League Spartan", sans-serif;

@mixin barra_porcentaje($width) {
        .barraAfuera{
            border: solid black 1px;
            width: 50%;
            height: 20px;
            .barraDentro{
                width: $width;
                height: 20px; 
                background-color: $colorVerde;
            }
        }
}


body{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    padding: 0 1vw;

    #logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1vw;
        img{
            width: 2vw;
            height: 2vw;
        }
        h1{
            font-size: 1.5vw;
            font-family: $fuent-POPPINS;
        }
    }
    #menuOpciones{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 2vw;
        align-items: center;
        font-size: 1vw;
        p{
            font-family: $fuent-POPPINS;
        }
    }
    @media (max-width: 768px) {
        #logo{
            gap: 1vw;
            img{
                width: 3vw;
                height: 3vw;
            }
            h1{
                font-size: 2.5vw;
            }
        }
        #menuOpciones{
            gap: 2vw;
            font-size: 2vw;
        }
    }
}

#previaPrincipal{
    background-image: url("../assets/Vegan\ Web.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 27vw;
    display: flex;
    justify-content: center;
    align-items: center;
    .slogan{
        h1{
            color: $colorVerdeOscuro;
            text-align: center;
            font-family: $fuent-POPPINS;
            font-weight: 400;
            font-size: 3vw;
            #palabraVegano{
                text-transform: uppercase;
                font-weight: 600;
            }
            #palabraUruguay{
                text-transform: uppercase;
                font-weight: 600;
                font-size: 4vw;
            }
        }
    }
}

#previaRecetario{
    background-color: $colorVerde;
    .subtituloRecetario{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0 2vw;
        padding: 2vw;
        h2{
            margin: 0;
            font-family: $fuente-LEAGUE_SPARTAN;
            font-size: 5vw;
        }
        button{
            border: none;
            background: white;
            border-radius: 30px;
            width: 70%;
            font-size: 2vw;
            height: 4vw;
        }
        @media (max-width: 600px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1vw;
        }
    }
    .tresCartasRecetasPrevia{
        display: flex;
        flex-direction: row;
        gap: 3vw;
        padding: 2vw;
        justify-content: center;
        align-items: center;
        .cartaPreviaReceta{
            background-color: white;
            justify-content: center;
            display: flex;
            flex-direction: column;
            width: 25vw;
            .nombreRecetaIndex {
                background-color: $colorVerde;
                text-align: center;
                width: 90%;
                margin: 1vw;
                border-radius: 25px;
                height: 3vw;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                text-transform: uppercase;
                font-family: $fuent-POPPINS;
                font-weight: 500;
                font-size: 1vw;
                }
            }
            .imagenRecetaIndex{
                display: flex;
                justify-content: center;
                img{
                    width: 23vw;
                    height: 13vw;
                }
            }
            .botonCartaRecetaIndex {
                padding: 2vw 0 2vw 0;
                display: flex;
                justify-content: center;
                button{
                    border: none;
                    background: $colorVerde;
                    border-radius: 25px;
                    width: 70%;
                    font-size: 1.5vw;
                    height: 2.5vw;
                    font-family: $fuent-POPPINS;
                }
            }
            .informacionRecetas{
                padding: 0 1vw;
                .categoriaReceta{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    p{
                        font-family: $fuent-POPPINS;
                    }
                }
                .CategoriaReceta_texto {
                    width: 50%;
                    p{
                        border: solid black 1px;
                        background-color: $colorVerde;
                        height: 20px;
                        text-align: center;
                        border-radius: 25px;
                        font-family: $fuent-POPPINS;
                    }
                }
            }
        }
        @media (max-width: 1024px) {
            gap: 4vw;
            .cartaPreviaReceta{
                width: 30vw;
            }
        }
        //PORCNTAJE 1ERA TARJETA
        $porcentajes1: 25%, 50%, 75%, 10%;
        .cartaPreviaReceta:nth-child(1){
            .categoriaReceta{
                @for $i from 1 through length($porcentajes1) {
                    &:nth-child(#{$i}) {
                        @include barra_porcentaje(nth($porcentajes1, $i));
                    }
                }
            }
        }
        //PORCNTAJE 2DA TARJETA
        $porcentajes2: 60%, 40%, 75%, 50%;
        .cartaPreviaReceta:nth-child(2){
            .categoriaReceta{
                @for $i from 1 through length($porcentajes2) {
                    &:nth-child(#{$i}) {
                        @include barra_porcentaje(nth($porcentajes2, $i));
                    }
                }
            }
        }
        //PORCNTAJE 3ERA TARJETA
        $porcentajes3: 60%, 20%, 20%, 50%;
        .cartaPreviaReceta:nth-child(3){
            .categoriaReceta{
                @for $i from 1 through length($porcentajes3) {
                    &:nth-child(#{$i}) {
                        @include barra_porcentaje(nth($porcentajes3, $i));
                    }
                }
            }
        }
        @media (max-width: 800px) {
            display: flex;
            flex-direction: column;
            .informacionRecetas{
                display: none;
            }
        }
    }
}