$colorRosado: #FDD3EB;
$colorBeige: #F8F1E2;
$colorVerde: #CBDDCE;
$colorAnaranjado: #FFB672;
$colorVerdeOscuro: #5F996B;
$fuent-POPPINS: "Poppins", sans-serif;
$fuente-LEAGUE_SPARTAN: "League Spartan", sans-serif;

@mixin barra_porcentaje($width) {
        .barraAfuera{
            border: solid black 1px;
            width: 50%;
            height: 20px;
            .barraDentro{
                width: $width;
                height: 20px; 
                background-color: $colorVerde;
            }
        }
}


body{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    padding: 0 1vw;

    #logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1vw;
        img{
            width: 2vw;
            height: 2vw;
        }
        h1{
            font-size: 1.5vw;
            font-family: $fuent-POPPINS;
        }
    }
    #menuOpciones{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 2vw;
        align-items: center;
        font-size: 1vw;
        p{
            font-family: $fuent-POPPINS;
        }
    }
    @media (max-width: 768px) {
        #logo{
            gap: 1vw;
            img{
                width: 3vw;
                height: 3vw;
            }
            h1{
                font-size: 2.5vw;
            }
        }
        #menuOpciones{
            gap: 2vw;
            font-size: 2vw;
        }
    }
}

#previaPrincipal{
    background-image: url("../assets/Vegan\ Web.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 27vw;
    display: flex;
    justify-content: center;
    align-items: center;
    .slogan{
        h1{
            color: $colorVerdeOscuro;
            text-align: center;
            font-family: $fuent-POPPINS;
            font-weight: 400;
            font-size: 3vw;
            #palabraVegano{
                text-transform: uppercase;
                font-weight: 600;
            }
            #palabraUruguay{
                text-transform: uppercase;
                font-weight: 600;
                font-size: 4vw;
            }
        }
    }
}

#previaRecetario{
    background-color: $colorVerde;
    .subtituloRecetario{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0 2vw;
        padding: 2vw;
        h2{
            margin: 0;
            font-family: $fuente-LEAGUE_SPARTAN;
            font-size: 5vw;
        }
        button{
            border: none;
            background: white;
            border-radius: 30px;
            width: 70%;
            font-size: 2vw;
            height: 4vw;
            @media (max-width: 768px) {
                font-size: 2.5vw;
            }
            @media (max-width: 320px) {
                font-size: 3vw;
            }
        }
        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1vw;
        }
    }
    .tresCartasRecetasPrevia{
        display: flex;
        flex-direction: row;
        gap: 3vw;
        padding: 2vw;
        justify-content: center;
        align-items: center;
        .cartaPreviaReceta{
            background-color: white;
            justify-content: center;
            display: flex;
            flex-direction: column;
            width: 25vw;
            .nombreRecetaIndex {
                background-color: $colorVerde;
                text-align: center;
                width: 90%;
                margin: 1vw;
                border-radius: 25px;
                height: 3vw;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                text-transform: uppercase;
                font-family: $fuent-POPPINS;
                font-weight: 500;
                font-size: 1vw;
                }
            }
            .imagenRecetaIndex{
                display: flex;
                justify-content: center;
                img{
                    width: 23vw;
                    height: 13vw;
                }
            }
            .botonCartaRecetaIndex {
                padding: 2vw 0 2vw 0;
                display: flex;
                justify-content: center;
                button{
                    border: none;
                    background: $colorVerde;
                    border-radius: 25px;
                    width: 70%;
                    font-size: 1.5vw;
                    height: 2.5vw;
                    font-family: $fuent-POPPINS;
                }
            }
            .informacionRecetas{
                padding: 0 1vw;
                .categoriaReceta{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    p{
                        font-family: $fuent-POPPINS;
                    }
                }
                .CategoriaReceta_texto {
                    width: 50%;
                    p{
                        border: solid black 1px;
                        background-color: $colorVerde;
                        height: 20px;
                        text-align: center;
                        border-radius: 25px;
                        font-family: $fuent-POPPINS;
                    }
                }
            }
            .informacionRecetas_introduccion{
                display: none;
            }
        }
        @media (max-width: 1024px) {
            gap: 4vw;
            .cartaPreviaReceta{
                width: 30vw;
            }
        }
        //PORCNTAJE 1ERA TARJETA
        $porcentajes1: 25%, 50%, 75%, 10%;
        .cartaPreviaReceta:nth-child(1){
            .categoriaReceta{
                @for $i from 1 through length($porcentajes1) {
                    &:nth-child(#{$i}) {
                        @include barra_porcentaje(nth($porcentajes1, $i));
                    }
                }
            }
        }
        //PORCNTAJE 2DA TARJETA
        $porcentajes2: 60%, 40%, 75%, 50%;
        .cartaPreviaReceta:nth-child(2){
            .categoriaReceta{
                @for $i from 1 through length($porcentajes2) {
                    &:nth-child(#{$i}) {
                        @include barra_porcentaje(nth($porcentajes2, $i));
                    }
                }
            }
        }
        //PORCNTAJE 3ERA TARJETA
        $porcentajes3: 60%, 20%, 20%, 50%;
        .cartaPreviaReceta:nth-child(3){
            .categoriaReceta{
                @for $i from 1 through length($porcentajes3) {
                    &:nth-child(#{$i}) {
                        @include barra_porcentaje(nth($porcentajes3, $i));
                    }
                }
            }
        }

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            .cartaPreviaReceta{
                width: 90%;
                display: grid;
                grid-template-columns: 1fr 2fr;
                grid-template-rows: repeat(3, 1fr);
                grid-template-rows: min-content;
                border-radius: 25px;
                gap: vw;
                .nombreRecetaIndex{
                    grid-column: 2/3;
                    grid-row: 1/1;
                    p{
                        font-size: 2vw;
                    }
                }
                .imagenRecetaIndex{
                    grid-column: 1/2;
                    grid-row: 1/4;
                    justify-content: start;
                    img{
                        border-top-left-radius: 25px;
                        border-end-start-radius: 25px;
                        width: 100%;
                        height: 100%;
                    }
                }
                .botonCartaRecetaIndex {
                    grid-column: 2/3;
                    grid-row: 3/3;
                    button{
                        background-color: white;
                        border: solid black 1px;
                        font-size: 2vw;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                
                
                .informacionRecetas{
                    display: none;
                }
                .informacionRecetas_introduccion{
                    display: block;
                    grid-column: 2/3;
                    grid-row: 2/3;
                    padding: 0 1.5vw;
                    p{
                        font-size: 2vw;
                        text-align: center;
                    }
                }
            }  
        }
        @media (max-width: 480px) {
            .cartaPreviaReceta {
                .nombreRecetaIndex p{
                    font-size: 3vw;
                }
                .botonCartaRecetaIndex button{
                    font-size: 3vw;
                    width: 70%;
                    height: 4vw;
                }
                .imagenRecetaIndex{
                    justify-content: start;
                    img{
                        height: 100%;
                    }
                }
            }
        }
    }
}

#previaAptos{
    .subtituloIndex{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 2vw;
        h2{
            margin: 0;
            font-family: $fuent-POPPINS;
            font-size: 3vw;

        }
        h3{
            margin: 0;
            font-family: $fuent-POPPINS;
            font-size: 2vw;
            font-weight: 500;
        }
    }
    .circulos{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 3vw 0;
        gap: 1vw;
        #ciruclosIzquierda, #circulosDerecha, #menuCirculosCentro{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5vw;
        }
        .rosado{
            background-color: $colorRosado;
        }
        .anaranjado{
            background-color: $colorAnaranjado;
        }
        .verde{
            background-color: $colorVerde;
        }
        .circuloChico{
            width: 3vw;
            height: 3vw;
            border-radius: 50%;
        }
        .circuloMediano{
            width: 4vw;
            height: 4vw;
            border-radius: 50%;
        }
        .circuloGrande{
            width: 5vw;
            height: 5vw;
            border-radius: 50%;
        }
        .circuloNormal{
            width: 6vw;
            height: 6vw;
            border-radius: 50%;
        }
    }
    .productosIndex{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 2vw;
        .cartaProductoIndex{
            display: flex;
            flex-direction: column;
            align-items: center;
            border: black 1px solid;
            padding: 1vw;
            .imagenProductoIndex img{
            width: 15vw;
            height: auto;
            margin-bottom: 1.5vw;
            }
            .nombreProductoIndex {
                font-family: $fuent-POPPINS;
                padding: 0;
                p{
                    margin: 0;
                    padding: 0 0.5vw;
                    font-weight: 400;
                    font-size: 2vw;
                }
            }
            .marcaProductoIndex{
                font-family: $fuente-LEAGUE_SPARTAN;
                font-weight: 600;
                font-size: 2vw;
                p{
                    margin-top: 2vw;
                }   
            }
            .precioProductoIndex{
                font-family: $fuente-LEAGUE_SPARTAN;
                font-weight: 300;
                font-size: 2.5vw;
                p{
                    margin: 0;
                } 
            }
        }
        //Darle color distintos a cada uno de los nombres de los productos
        $Colores: $colorAnaranjado, $colorVerde, $colorRosado;
        @for $i from 1 through length($Colores) {
            .cartaProductoIndex:nth-of-type(#{$i}) .nombreProductoIndex{
                background-color: nth($Colores, $i);
            }
        }
    }
    .botonAptosIndex{
        margin: 5vw;
        display: flex;
        justify-content: center;
        button{
            font-family: $fuent-POPPINS;
            width: 80%;
            font-size: 1.3vw;
            height: 2.5vw;
            border-radius: 30px;
            border: none;
            background-color: $colorVerde;
        }
    }
}